.addressT{
    font-size: 1rem;
}

.address{
    font-size: .8rem;
}

@media only screen and (min-width: 768px){
    .address{
        font-size: 1rem;
    }
}

@media print {
    .address{
        font-size: 1rem;
    }
}